@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --color-primary: #2870F1;
    --color-heading: #000;
    --color-body: #0F1114;
    --color-action: #2870F1;
    --color-action-hover: #1E59C2;
}

@layer components {
  .nav-link {
    @apply relative inline-block text-action hover:text-action-hover text-sm font-bold after:content-[''] after:absolute after:left-[-10px] after:-bottom-1 after:w-[calc(100%+20px)] after:h-[2px] after:bg-action-hover after:transition after:duration-300 after:scale-y-0 hover:after:scale-y-100 after:origin-bottom transform transition-transform duration-300 ease-out hover:scale-110 active:scale-95;
  }

  .nav-link.active {
    @apply text-action-hover after:scale-y-100;
  }

  .btn {
    @apply bg-primary text-white px-4 py-2 rounded-lg hover:bg-action-hover shadow-lg hover:shadow-xl transition duration-300 text-xs font-medium cursor-pointer;
  }
}
