@import "tailwindcss";

/* Global default padding */
:root {
  --container-padding: 12px;
}

@theme {
    /* Custom breakpoints */
    --breakpoint-*: initial;
    --breakpoint-sm: 340px;
    --breakpoint-md: 540px;
    --breakpoint-lg: 768px;
    --breakpoint-xl: 1180px;

    /* Default container padding */
    /* --container-padding: 12px; */
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

@media (min-width: 540px) {
  @theme { 
    :root {
  --container-padding: 12px;
}
  }
}
